{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{# Gestion de la page #}
{% block body %}
    <script>
        function displaySettingsButtonOnChange() {
            document.getElementById("submitSettingsButton").style.display = "block";
        }
    </script>

<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <h3 class="text-{{ userSettings.color }} mb-0 text-center">Paramètres</h3>
                <br>
                <form action="{{ path("settings_save", {"id" : app.user.id}) }}" method="POST">
                    <div class="settings-container">
                        {% for setting in settings %}
                            <button class="settings-button text-{{ userSettings.color }}" type="button" data-toggle="modal" data-target="#modal-{{ setting[0] }}">
                                <i class="{{ setting[1] }}"></i>
                                <br>
                                {{ setting[0] }}
                                <br>
                                <small class="settings-small">{{ setting[2] }}</small>
                            </button>
                            <hr>

                            <div class="modal fade" id="modal-{{ setting[0] }}" tabindex="-1" aria-labelledby="{{ setting[2] }}" aria-hidden="true" style="height: 90% !important;">
                                <div class="modal-dialog modal-dialog-centered modal-lg" style="height: 90% !important;">
                                    <div class="modal-content bg-{{ userSettings.theme }}" style="border: none; height: 90% !important;">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-{{ userSettings.color }}" id="exampleModalLabel">{{ setting[0] }}</h5>
                                            <button type="button" class="close text-{{ userSettings.color }}" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="settings-container">
                                                {% for option in setting[3] %}
                                                    {% if option[0] == "switch" %}
                                                        <div class="settings-button text-{{ userSettings.color }} text-center" style="width: 30% !important;">
                                                            <i class="fas fa-laptop-code"></i>
                                                            <br>
                                                            {{ option[2] }}
                                                            <br>
                                                            <div class="custom-control custom-switch">
                                                                <input name="{{ option[1] }}" type="checkbox" class="custom-control-input" id="switch-{{ option[1] }}" {% if app.user.settings[0].Settings[option[1]] == option[3] %}checked{% endif %} onchange="displaySettingsButtonOnChange()">
                                                                <label class="custom-control-label text-{{ userSettings.color }}" for="switch-{{ option[1] }}">{% if app.user.settings[0].Settings[option[1]] == option[3] %}Activé{% else %}Désactivé{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button id="submitSettingsButton" type="submit" class="btn btn-success btn-block btn-lg" style="width: 60%; margin: 0 20%; display: none;">Enregistrer</button>
                </form>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
        {# Fin de la gestion de la page #}