{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{# Gestion de la page #}
{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-{{ userSettings.color}} mb-0">Catégories</h3>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" onclick="$('#addCategoryModal').modal();">
                        <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;
                        Nouvelle catégorie
                    </a>
                </div>
                <div class="container">
                    {% if app.flashes["CATEGORY"] is defined %}
                        {% for flash in app.flashes["CATEGORY"]|default([]) %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ flash|raw }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path("category", {"id" : 0}) }}">(root)</a>
                            </li>
                            {% for key,cat in path %}
                                <li class="breadcrumb-item {% if path|length-1 == key %}active{% endif %}">
                                    {% if path|length-1 == key %}
                                        {{ cat.name }}
                                    {% else %}
                                        <a href="{{ path("category", {"id" : cat.id}) }}">{{ cat.name }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Détails de la catégorie courante</h3>
                            <div class="card">
                                <div class="card-header">
                                    {{ category.name }}
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>{{ category.sumup }}</p>
                                        <div class="row">
                                            <a href="#" class="btn btn-outline-primary btn-sm ml-1 mr-1">Aller à la galerie</a>
                                            {% if category.parent is not null %}
                                                <button class="btn btn-outline-warning btn-sm mr-1" onclick="$('#editCategoryModal').modal();">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button class="btn btn-outline-danger btn-sm mr-1" onclick="$('#deleteCategoryModal').modal();">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                        <br><br>
                                        <footer class="blockquote-footer">Dernière modification le <cite title="Source Title">{{ category.date|date("d/m/Y") }}</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Descendant(s)</h3>
                            <div class="list-group">
                                {% for child in category.children %}
                                    <a href="{{ path("category", {"id" : child.id}) }}" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ child.name }}</h5>
                                            <small>{{ child.date|date("d/m/Y") }}</small>
                                        </div>
                                        <p class="mb-1">
                                            {{ child.sumup }}
                                        </p>
                                        <small>
                                            <span class="badge badge-primary badge-pill">{{ child.children|length }}</span>
                                        </small>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addCategoryModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Nouvelle catégorie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path("category", {"id" : category.id}) }}" method="POST">
                            <input type="hidden" name="actualCategory" value="{{ category.id }}">
                            <div class="form-group">
                                <label for="newCategoryName">
                                    <strong>Nom de la catégorie</strong>
                                </label>
                                <input type="text" name="Name" minlength="2" maxlength="128" id="newCategoryName" class="form-control {% if errors["Name"] is defined %}is-invalid{% endif %}" placeholder="Catégorie n°X - Dessins" value="{{ data["Name"]|default("") }}" required>
                                <div class="invalid-feedback">
                                    Le nom de la catégorie semble éronné.
                                </div>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="useSumup" onchange="onSumupSwitcheChange(this.checked)">
                                <label class="custom-control-label text-{{ userSettings.color }}" for="useSumup" name="useSumup">Utiliser une description</label>
                            </div>
                            <br>
                            <div class="form-group" id="sumupDiv" style="display: none;">
                                <label for="sumup" class="text-{{ userSettings.color }}">
                                    <strong>Description de la liste</strong>
                                </label>
                                <textarea class="form-control {% if errors["Sumup"] is defined %}is-invalid{% endif %}" name="Sumup" id="sumup" rows="3" minlength="0" maxlength="1024">{{ data["Sumup"]|default("") }}</textarea>
                                <div class="invalid-feedback">
                                    La description semble éronné.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newCategoryParent">
                                    <strong>Catégorie parente</strong>
                                </label>
                                <input type="text" class="form-control" name="Category" value="{{ category.name }}" readonly disabled>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary">Ajouter cette catégorie</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="searchParentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Sélectionner le parent</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        {% if category.parent is not null %}
            <div class="modal fade" id="editCategoryModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modification de la catégorie</h5>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path("category", {"id" : category.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="Parent" id="updateParentId" value="{{ category.parent.id }}">
                                <div id="collapseEditForm">
                                    <div class="form-group">
                                        <label for="newCategoryName">
                                            <strong>Nom de la catégorie</strong>
                                        </label>
                                        <input type="text" name="Name" minlength="2" maxlength="128" id="newCategoryName" class="form-control {% if errors["Name"] is defined %}is-invalid{% endif %}" placeholder="Catégorie n°X - Dessins" value="{{ category.name|default("") }}" required>
                                        <div class="invalid-feedback">
                                            Le nom de la catégorie semble éronné.
                                        </div>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="useEditSumup" onchange="onSumupEditSwitch(this.checked)" {% if category.sumup is not null %}checked{% endif %}>
                                        <label class="custom-control-label text-{{ userSettings.color }}" for="useEditSumup" name="useSumup">Utiliser une description</label>
                                    </div>
                                    <br>
                                    <div class="form-group" id="sumupEditDiv" {% if category.sumup is null %}style="display: none;"{% endif %}>
                                        <label for="sumupEdit" class="text-{{ userSettings.color }}">
                                            <strong>Description de la liste</strong>
                                        </label>
                                        <textarea class="form-control {% if errors["Sumup"] is defined %}is-invalid{% endif %}" name="Sumup" id="sumupEdit" rows="3" minlength="0" maxlength="1024">{{ category.sumup|default("") }}</textarea>
                                        <div class="invalid-feedback">
                                            La description semble éronné.
                                        </div>
                                    </div>
                                    <script>
                                        function onSumupEditSwitch(state) {
                                            if (state) {
                                                $("#sumupEditDiv").slideDown("slow");
                                                $("#sumupEdit").attr("required", "true");
                                                document.getElementById("sumupEdit").value = "";
                                            } else {
                                                $("#sumupEditDiv").slideUp("slow");
                                                $("#sumupEdit").removeAttr("required");
                                                document.getElementById("sumupEdit").value = "";
                                            }
                                        }
                                    </script>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="newParentCategory" value="{{ category.parent.name }}" readonly disabled>
                                        <br>
                                        <button class="btn btn-block btn-outline-primary" type="button" onclick="toggleSlideCollapse()">Rechercher une catégorie</button>
                                    </div>
                                </div>
                                <div id="collapseSearchForm" style="display: none;">
                                    <button type="button" class="close" aria-label="Close" onclick="toggleSlideCollapse();">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <input class="form-control form-control-lg" type="text" placeholder="Rechercher une catégorie ..." oninput="searchCategoryInDatabase(this.value)">
                                    <hr>
                                    <div id="results" style="width: 100%; max-height: 20rem; overflow-y: auto;">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary">Modifier cette catégorie</button>
                                </div>
                            </form>

                            <script>
                                function toggleSlideCollapse() {
                                    $('#collapseEditForm').slideToggle();
                                    $('#collapseSearchForm').slideToggle();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if category.parent is not null %}
            <div class="modal fade" id="deleteCategoryModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Supprimer une catégorie</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Voulez-vous supprimer cette catégorie ?</p>
                            {% if category.children is not null %}
                                <div class="alert alert-danger" role="alert">
                                    Celle-ci contient <span class="badge bg-warning">{{ category.children|length }}</span> sous-catégories. Si vous supprimez cette catégorie, ces sous-catégories seront supprimées également.
                                </div>
                            {% endif %}
                            <form action="{{ path("category", {"id" : category.parent.id}) }}" method="POST">
                                <input type="hidden" name="actualCategory" value="{{ category.id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-danger">Supprimer cette catégorie</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
{# Fin de la gestion de la page #}