{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-{{ userSettings.color}} mb-0">Galerie</h3>
                </div>
                <div id="accordion">
                    {% if categories is empty %}
                        <h1 class="heading-stylized text-center">Aucune galerie trouvée</h1>
                    {% else %}
                        {% for category in categories %}
                            <div class="card">
                                <div class="card-header" id="heading-{{ category.id }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-block btn-lg text-left" data-toggle="collapse" data-target="#collapse-{{ category.id }}" aria-expanded="true" aria-controls="collapse-{{ category.id }}">
                                            <h2>{{ category.name }}</h2>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-{{ category.id }}" class="collapse" aria-labelledby="heading-{{ category.id }}" data-parent="#accordion">
                                    <div class="card-body">
                                        {% if category.media|length == 0 %}
                                            <h4 class="heading-stylized text-center">Pas d'image dans cette galerie</h4>
                                        {% else %}
                                            {% for media in category.media %}
                                                {% if media == category.media|last %}
                                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" or media.type == "jpg" %}
                                                        <img class=""
                                                             src="{{ asset('uploads/gallery/' ~ media.path) }}"
                                                             alt="{{ media.path }}" width="200px" height="200px" style="margin-bottom: 20px; margin-right: 20px">
                                                    {% else %}
                                                        <video controls class="d-block w-75 align-content-center" style="margin: 0 auto;">
                                                            <source src="{{ asset('uploads/gallery/' ~ media.path) }}">
                                                        </video>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <p class="badge badge-primary badge-pill">{{ category.media|length }}</p>
                                        <a href="{{ path("gallery_media", {"id" : category.id}) }}" class="btn btn-outline-primary btn-sm ml-1 mr-1">Aller à la galerie</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}