{% extends 'base.html.twig' %}

{% block title %}Logs{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <table class="table">
                <caption>Recapitulatifs logs</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Page</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% if logs is not empty %}
                    {% for log in logs  %}
                        <tr>
                            <td>{{ log.date | date("d/m/Y - H:i:s")}}</td>
                            <td>{{ log.username }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.page }}</td>
                            <td>{{ log.name }}</td>
                            <td>{{ log.value }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-warning"><td>Pas de Logs</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
