{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{# Gestion de la page #}
{% block body %}

<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-{{ userSettings.color}} mb-0">Gestion des articles</h3>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{{ path("articles_add") }}">
                        <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;
                        Nouvel article
                    </a>
                </div>
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header text-bold">
                                    {{ article.category.name }}
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p class="text-truncate">{{ article.subject }}</p>
                                        <footer class="blockquote-footer">Rédigé par {{ article.author.firstname }} {{ article.author.lastname }} le  
                                            <cite title="Source Title">{{ article.date|date("d/m/Y") }}</cite>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <a class="btn btn-outline-primary m-1" href="#">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-outline-warning m-1" href="{{ path("articles_edit", {"article" : article.article}) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-outline-danger m-1" onclick="$('#modal-{{ article.id }}-delete').modal();">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-{{ article.id }}-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-{{ userSettings.theme }} text-{{ userSettings.color }}">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmation de suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sur de vouloir supprimer l'article nommé : "{{ article.subject }}" ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a type="button" class="btn btn-danger" href="{{ path("articles_delete", { "article" : article.article }) }}">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
{# Fin de la gestion de la page #}