{% extends 'base.html.twig' %}

{% block title %}Diffusion{% endblock %}

{# Gestion de la page #}
{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-{{ userSettings.color}} mb-0">Listes de diffusion</h3>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{{ path("mailing_add") }}">
                        <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;
                        Créer une liste
                    </a>
                </div>
                {% for message in app.flashes("info-mailing") %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Information :</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes("error") %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">Une erreur est survenue</h4>
                        <p>{{ message }}</p>
                        <hr>
                        <p class="mb-0">Vérifiez les informations fournies puis réessayez.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    {% for key,type in mailingList %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if key == "HYBRID" %}active{% endif %}" id="pills-{{ key }}-tab" data-toggle="pill" href="#pills-{{ key }}" role="tab" aria-controls="pills-{{ key }}" aria-selected="true">{{ type[0] }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    {% for key,type in mailingList %}
                        <div class="tab-pane fade show {% if key == "HYBRID" %}active{% endif %}" id="pills-{{ key }}" role="tabpanel" aria-labelledby="pills-{{ key }}-tab">
                            <div class="row">
                                {% for t in type[1] %}
                                    <div class="col-lg-4 text-center">
                                        <div class="card border-{{ t.Color }} mb-3 bg-{{ userSettings.theme }}" style="width: 100%;">
                                            <div class="card-header text-bold bg-{{ userSettings.theme }} text-{{ userSettings.color }}">{{ t.Name }}</div>
                                            <div class="card-body text-{{ t.Color }} text-left bg-{{ userSettings.theme }}">
                                                <h5 class="card-title">Nombre d'utilisateur : {{ t.List|length }}</h5>
                                                <p class="card-text text-{{ userSettings.color }}">{{ t.Sumup }}</p>
                                                <hr>
                                                <div class="row">
                                                    <a class="btn btn-primary btn-sm ml-2 mr-2" href="{{ path("mailing_show", {"id" : t.id}) }}">
                                                        <i class="fas fa-eye text-white"></i>
                                                    </a>
                                                    <a class="btn btn-warning btn-sm mr-2" href="{{ path("mailing_edit", {"id" : t.id}) }}">
                                                        <i class="fas fa-edit text-white"></i>
                                                    </a>
                                                    <button class="btn btn-danger btn-sm mr-2" type="button" onclick="$('#modal-{{ t.id }}-delete').modal();">
                                                        <i class="fas fa-eraser text-white"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="modal-{{ t.id }}-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content bg-{{ userSettings.theme }} text-{{ userSettings.color }}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Confirmation de suppression</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Êtes-vous sur de vouloir supprimé la liste nommée : "{{ t.Name|capitalize }}" ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <a type="button" class="btn btn-danger" href="{{ path("mailing_delete", {"id" : t.id}) }}">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            // Example 2 - Shared lists
            new Sortable(unassignedUser, {
                group: 'shared', // set both lists to same group
                animation: 150
            });

            new Sortable(assignedUser, {
                group: 'shared',
                animation: 150
            });
        </script>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
{# Fin de la gestion de la page #}