{% extends 'base.html.twig' %}

{% block title %}Diffusion{% endblock %}

{# Gestion de la page #}
{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <h3 class="text-{{ userSettings.color}} mb-0">Modification de la liste : {{ mailing.name }}</h3>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow mb-3 border-{{ userSettings.color }}">
                            <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Configuration</p>
                            </div>
                            <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                <div class="form-group">
                                    <label for="type" class="text-{{ userSettings.color }}">
                                        <strong>Type de liste</strong>
                                    </label>
                                    <select class="form-control" id="type" name="Type" required readonly disabled>
                                        <option value="" readonly disabled selected>-- Sélectionner un type</option>
                                        <option value="HYBRID" {% if mailing.type == "HYBRID" %}selected{% endif %}>Liste hybride</option>
                                        <option value="MAIL" {% if mailing.type == "MAIL" %}selected{% endif %}>Liste d'adresses mail</option>
                                        <option value="PHONE" {% if mailing.type == "PHONE" %}selected{% endif %}>Liste de numéros de téléphones</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Le type sélectionné est invalide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card shadow mb-3 border-{{ userSettings.color }}">
                            <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Informations sur la liste</p>
                            </div>
                            <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                <div class="form-group">
                                    <label for="name" class="text-{{ userSettings.color }}">
                                        <strong>Nom de la liste</strong>
                                    </label>
                                    <input class="form-control" type="text" placeholder="Liste de diffusion ..." id="name" name="Name" value="{{ mailing.name|default("") }}" required readonly minlength="2" maxlength="128" oninput="checkRegExp(this.id, 'NAME')">
                                    <div class="valid-feedback">
                                        Ce nom semble correct !
                                    </div>
                                    <div class="invalid-feedback">
                                        Le nom de la liste ne respecte pas les spécifications demandées.
                                    </div>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="useSumup" {% if mailing.sumup is not null %}checked{% endif%} disabled>
                                    <label class="custom-control-label text-{{ userSettings.color }}" for="useSumup" name="useSumup">Utilise une description</label>
                                </div>
                                <br>
                                <div class="form-group" id="sumupDiv" {% if mailing.sumup is null %}style="display: none"{% endif %}>
                                    <label for="sumup" class="text-{{ userSettings.color }}">
                                        <strong>Description de la liste</strong>
                                    </label>
                                    <textarea class="form-control" name="Sumup" id="sumup" rows="3" minlength="0" maxlength="1024">{{ mailing.sumup }}</textarea>
                                    <div class="invalid-feedback">
                                        La description semble éronnée.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-3 border-{{ userSettings.color }}">
                    <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                        <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Gestion des destinataires</p>
                    </div>
                    <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                        <div id="shared-lists" class="row">
                            <h4 class="col-12 text-{{ userSettings.color }}">Utilisateurs dans la liste</h4>
                            <div id="assigned-user" class="list-group col">
                                {% for user in users %}
                                    {% if user.id in mailing.list %}
                                        <div class="list-group-item" id="assigned-{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset("js/dashboard/Sortable.js") }}"></script>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
    {% endblock %}
{# Fin de la gestion de la page #}