<script>
    function collapseAll() {
        $('collapse-admin-users').collapse("hide");
        $('collapse-admin-mailing').collapse("hide");
    }
</script>

<nav class="navbar navbar-{{ userSettings.theme }} align-items-start sidebar sidebar-{{ userSettings.theme }} accordion {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %} p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{ path("index") }}">
{#            <div class="sidebar-brand-icon rotate-n-0">#}
{#                <i class="fas fa-laptop-code"></i>#}
{#            </div>#}
            <div class="sidebar-brand-text mx-3">
                <span>Compagnie<br>Excalibur</span>
            </div>
        </a>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"></li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-{{ userSettings.theme }} accordion {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %} p-0" id="sidebarMiddleID">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        <p class="mb-0">MENU</p>
                    </div>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if (app.request.pathinfo == "/dashboard") %}active{% endif %} text-{{ userSettings.color }}" href="{{ path("dashboard") }}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Tableau de bord</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        <p class="mb-0">ALBUMS</p>
                    </div>
                    <li class="nav-item" role="presentation">
                        <div class="nav-item dropdown">
                            <a class="btn btn-link nav-link text-{{ userSettings.color }} {% if "/dashboard/category" in app.request.pathInfo %}active{% endif %}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-category" href="#collapse-category" role="button" onclick="collapseAll();">
                                <i class="fas fa-filter"></i>&nbsp;
                                <span>Catégories</span>
                            </a>
                            <div class="collapse w-100 py-2" id="collapse-category" style="margin-left: 0; border-radius: 8px;">
                                <div class="bg-{{ userSettings.color }} border-{{ userSettings.color }} collapse-inner rounded" style="width: 96%; margin: 0 2%;">
                                    <h6 class="collapse-header text-{{ userSettings.theme }}">Actions rapides</h6>
                                    <a class="collapse-item text-{{ userSettings.theme }}" href="">Ajouter une catégorie</a>
                                    <h6 class="collapse-header text-{{ userSettings.theme }}">Options</h6>
                                    <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("category") }}">Toutes les catégories</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <div class="nav-item dropdown">
                            <a class="btn btn-link nav-link text-{{ userSettings.color }} {% if "/dashboard/gallery" in app.request.pathInfo %}active{% endif %}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-gallery" href="#collapse-gallery" role="button" onclick="collapseAll();">
                                <i class="fas fa-images"></i>&nbsp;
                                <span>Galerie</span>
                            </a>
                            <div class="collapse w-100 py-2" id="collapse-gallery" style="margin-left: 0; border-radius: 8px;">
                                <div class="bg-{{ userSettings.color }} border-{{ userSettings.color }} collapse-inner rounded" style="width: 96%; margin: 0 2%;">
                                    <h6 class="collapse-header text-{{ userSettings.theme }}">Actions rapides</h6>
                                    <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path('medias_add_gallery') }}">Ajouter des images</a>
                                    <h6 class="collapse-header text-{{ userSettings.theme }}">Options</h6>
                                    <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path('gallery_media') }}">Toutes les images</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                {% if is_granted("ROLE_WRITER") or is_granted("ROLE_ADMIN") or is_granted("ROLE_DEVELOPERS") %}
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item" role="presentation"></li>
                        <hr class="sidebar-divider">
                        <div class="sidebar-heading">
                            <p class="mb-0">AUTEURS</p>
                        </div>
                        <li class="nav-item" role="presentation">
                            <div class="nav-item dropdown">
                                <a class="btn btn-link nav-link text-{{ userSettings.color }} {% if "/dashboard/articles" in app.request.pathInfo %}active{% endif %}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-writer-news" href="#collapse-writer-news" role="button" onclick="collapseAll();">
                                    <i class="fas fa-newspaper"></i>&nbsp;
                                    <span>Articles</span>
                                </a>
                                <div class="collapse w-100 py-2" id="collapse-writer-news" style="margin-left: 0; border-radius: 8px;">
                                    <div class="bg-{{ userSettings.color }} border-{{ userSettings.color }} collapse-inner rounded" style="width: 96%; margin: 0 2%;">
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Actions rapides</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path('articles_add') }}">Nouvel article</a>
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Options</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("articles") }}">Tous les articles</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_DEVELOPERS") %}
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item" role="presentation"></li>
                        <hr class="sidebar-divider">
                        <div class="sidebar-heading">
                            <p class="mb-0">GESTION</p>
                        </div>
                        <li class="nav-item" role="presentation">
                            <div class="nav-item dropdown">
                                <a class="btn btn-link nav-link text-{{ userSettings.color }} {% if "/dashboard/mailing" in app.request.pathInfo %}active{% endif %}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-admin-mailing" href="#collapse-admin-mailing" role="button" onclick="collapseAll();">
                                    <i class="fas fa-envelope-open-text"></i>&nbsp;
                                    <span>Diffusion</span>
                                </a>
                                <div class="collapse w-100 py-2" id="collapse-admin-mailing" style="margin-left: 0; border-radius: 8px;">
                                    <div class="bg-{{ userSettings.color }} border-{{ userSettings.color }} collapse-inner rounded" style="width: 96%; margin: 0 2%;">
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Actions rapides</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("mailing_add") }}">Nouvelle liste</a>
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Options</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("mailing") }}">Listes de diffusion</a>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("news") }}">Messages envoyés</a>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("news_add") }}">Envoyer un message</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" role="presentation">
                            <div class="nav-item dropdown">
                                <a class="btn btn-link nav-link text-{{ userSettings.color }} {% if "/dashboard/users" in app.request.pathInfo %}active{% endif %}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-admin-users" href="#collapse-admin-users" role="button" onclick="collapseAll();">
                                    <i class="fas fa-users"></i>&nbsp;
                                    <span>Utilisateurs</span>
                                </a>
                                <div class="collapse w-100 py-2" id="collapse-admin-users" style="margin-left: 0; border-radius: 8px;">
                                    <div class="bg-{{ userSettings.color }} border-{{ userSettings.color }} collapse-inner rounded" style="width: 96%; margin: 0 2%;">
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Actions rapides</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("users_add") }}">Nouvel utilisateur</a>
                                        <h6 class="collapse-header text-{{ userSettings.theme }}">Options</h6>
                                        <a class="collapse-item text-{{ userSettings.theme }}" href="{{ path("users") }}">Utilisateurs</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</nav>