{% extends 'base.html.twig' %}

{% block title %}Mode édition{% endblock %}

{# Gestion de la page #}
{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <h3 class="text-{{ userSettings.color }} mb-4">Modification de {{ user.firstname }} {{ user.lastname }}</h3>
                {% if errors is defined and errors is not empty %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Avertissement : </strong> Des erreurs ont été trouvée dans votre formulaire. Veuillez les corriger avant de continuer.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form action="{{ path("users_edit", {"id" : user.id}) }}" method="POST" id="createAccountForm">
                    <input type="hidden" name="METHOD" value="EDIT">
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                <div class="card-body text-center shadow">
                                    <img class="rounded-circle mb-3 mt-4" src="{{ asset("assets/profile/paladomas.jpg") }}" width="160" height="160">
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="button">Changer de photo</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4 border-{{ userSettings.color }}">
                                <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                    <h6 class="text-{{ userSettings.color }} font-weight-bold m-0">Droits utilisateur</h6>
                                </div>
                                <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                    <label>
                                        <strong>Gestion</strong>
                                    </label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox_ROLEADMIN" name="Roles[]" value="ROLE_ADMIN" {% if "ROLE_ADMIN" in user.roles %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_ROLEADMIN">Administrateur</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox_ROLEDEVELOPERS" name="Roles[]" value="ROLE_DEVELOPERS" {% if "ROLE_DEVELOPERS" in user.roles %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_ROLEDEVELOPERS">Développeur</label>
                                    </div>
                                    <br>
                                    <label>
                                        <strong>Édition</strong>
                                    </label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox_ROLEWRITER" name="Roles[]" value="ROLE_WRITER" {% if "ROLE_WRITER" in user.roles %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_ROLEWRITER">Écrivain</label>
                                    </div>
                                    <br>
                                    <label>
                                        <strong>Équipe</strong>
                                    </label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox_ROLEMEMBER" name="Roles[]" value="ROLE_MEMBER" {% if "ROLE_MEMBER" in user.roles %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_ROLEMEMBER">Adhérent</label>
                                    </div>
                                    <br>
                                    <label>
                                        <strong>Affichage</strong>
                                    </label>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox_ROLEUSER" name="Roles[]" value="ROLE_USER" {% if "ROLE_USER" in user.roles %}checked{% endif %}>
                                        <label class="custom-control-label" for="checkbox_ROLEUSER">Utilisateur</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3 border-{{ userSettings.color }}">
                                        <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Informations de connexion</p>
                                        </div>
                                        <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <div class="form-row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="username">
                                                            <strong>Nom d'utilisateur</strong>
                                                        </label>
                                                        <input class="form-control" type="text" placeholder="username" id="username" name="Username" value="{{ user.username }}" required readonly minlength="2" maxlength="255">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="passwordInput">
                                                            <strong>Mot de passe</strong>
                                                        </label>
                                                        <button style="display: {% if errors["Password"] is defined %}none{% else %}block{% endif %};" type="button" class="btn btn-block btn-primary" id="passwordBtn" onclick="$('#modal-createpassword').modal();">Modifier le mot de passe</button>
                                                        <div id="editPasswordDiv" style="display: {% if errors["Password"] is defined %}flex{% else %}none{% endif %}; flex-direction: row">
                                                            <input class="form-control {{ errors["Password"]|default("") }}" type="password" placeholder="" id="passwordInput" name="Password" value="{{ user.password }}" readonly required minlength="2" maxlength="255" style="border-radius: .35rem 0 0 .35rem; width: 85%;">
                                                            <button type="button" class="btn btn-primary" id="passwordEditBtn" onclick="$('#modal-createpassword').modal();" style="border-radius: 0 .35rem .35rem 0; width: 15%;">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="modal-createpassword" tabindex="-1" aria-labelledby="UpdatePassword" aria-hidden="true" style="height: 90% !important;">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content bg-{{ userSettings.theme }}" style="border: none; height: 90% !important;">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-{{ userSettings.color }}" id="exampleModalLabel">Modifier le mot de passe</h5>
                                                            <button type="button" class="close text-{{ userSettings.color }}" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST" id="createPasswordForm" onsubmit="createPassword(); return false;">
                                                                <div class="form-group">
                                                                    <label for="createPassword">
                                                                        <strong>Nouveau mot de passe</strong>
                                                                    </label>
                                                                    <input type="password" class="form-control" placeholder="" id="newPassword" name="newPassword" oninput="checkPasswordStrength(this.value); checkSamePasswordRegister(this.value, document.getElementById('confirmPassword').value)">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="confirmPassword">
                                                                        <strong>Confirmation du mot de passe</strong>
                                                                    </label>
                                                                    <input type="password" class="form-control" placeholder="" id="confirmPassword" name="confirmPassword" oninput="checkSamePasswordRegister(document.getElementById('newPassword').value, this.value)">
                                                                    <div class="invalid-feedback">
                                                                        Les deux mots de passe ne correspondent pas.
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="passwordStrength">
                                                                        <strong>Solidité du mot de passe</strong>
                                                                    </label>
                                                                    <div class="progress">
                                                                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-danger" id="passwordStrength" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button class="btn btn-primary" type="button" onclick="createPassword();">Modifier le mot de passe</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow border-{{ userSettings.color }}">
                                        <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Informations sur l'utilisateur</p>
                                        </div>
                                        <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <div class="form-row">
                                                <div class="col-lg-6">
                                                    <label for="firstname">
                                                        <strong>Prénom</strong>
                                                    </label>
                                                    <input class="form-control {{ errors["Firstname"]|default("") }}" type="text" placeholder="John" value="{{ user.firstname }}" name="Firstname" id="firstname" minlength="2" maxlength="128" required oninput="checkRegExp(this.id, 'NAME')">
                                                    <div class="invalid-feedback">
                                                        Votre prénom doit faire entre 2 et 128 caractères et doit être composé de lettres uniquement
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="lastname">
                                                        <strong>Nom</strong>
                                                    </label>
                                                    <input class="form-control {{ errors["Lastname"]|default("") }}" type="text" placeholder="DOE" value="{{ user.lastname }}" name="Lastname" id="lastname" minlength="2" maxlength="128" required oninput="checkRegExp(this.id, 'NAME')">
                                                    <div class="invalid-feedback">
                                                        Votre nom doit faire entre 2 et 128 caractères et doit être composé de lettres uniquement
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card shadow border-{{ userSettings.color }}">
                                        <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Informations de contact</p>
                                        </div>
                                        <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input class="custom-control-input" type="checkbox" name="useMail" id="switch-usemaildiff" onchange="checkUse('mail', this.checked, 'mail@domain.fr')" {% if user.mail != NULL or errors['Mail'] is defined %}checked{% endif %}>
                                                    <label class="custom-control-label" for="switch-usemaildiff">
                                                        <strong>Autoriser l'utilisation de mon adresse mail dans des listes de diffusion</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="mailDiv">
                                                <label for="mail">
                                                    <strong>Adresse mail</strong>
                                                </label>
                                                <input class="form-control {{ errors["Mail"]|default("") }}" type="email" placeholder="" value="{{ user.mail|default("") }}" name="Mail" id="mail" minlength="2" maxlength="255"  {% if user.mail == NULL %}readonly{% endif %} oninput="checkRegExp(this.id, 'MAIL')">
                                                <div class="invalid-feedback">
                                                    Étant donné que vous avez autorisé le site à utiliser votre adresse mail dans les listes de diffusion, il faut la définir.
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input class="custom-control-input" type="checkbox" name="usePhone" id="switch-usephonediff" onchange="checkUse('phone', this.checked, '+33 X XX XX XX XX')" {% if user.phone != NULL %}checked{% endif %}>
                                                    <label class="custom-control-label" for="switch-usephonediff">
                                                        <strong>Autoriser l'utilisation de mon numéro de téléphone dans des listes de diffusion</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="phoneDiv">
                                                <label for="phone">
                                                    <strong>Numéro de téléphone</strong>
                                                </label>
                                                <input class="form-control {{ errors["Phone"]|default("") }}" type="tel" placeholder="" value="{{ user.phone|default("") }}" name="Phone" id="phone" minlength="2" maxlength="255"  {% if user.phone == NULL or errors["Phone"] is defined %}readonly{% endif %} oninput="checkRegExp(this.id, 'PHONE')">
                                                <div class="invalid-feedback">
                                                    Étant donné que vous avez autorisé le site à utiliser votre numéro de téléphone dans les listes de diffusion, il faut le définir.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card shadow border-{{ userSettings.color }}">
                                        <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Paramètres sur les forums</p>
                                        </div>
                                        <div class="card-body bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input class="custom-control-input" type="checkbox" name="usePseudo" id="switch-usepseudo" onchange="checkUse('pseudo', this.checked, 'LeCafarDu93')" {% if user.pseudo != NULL %}checked{% endif %}>
                                                    <label class="custom-control-label" for="switch-usepseudo">
                                                        <strong>Utiliser un pseudo</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="pseudoDiv">
                                                <label for="pseudo">
                                                    <strong>Pseudo utilisé</strong>
                                                </label>
                                                <input class="form-control {{ errors["Pseudo"]|default("") }}" type="text" placeholder="" value="{{ user.pseudo|default("") }}" name="Pseudo" id="pseudo" minlength="2" maxlength="128"  {% if user.pseudo == NULL %}readonly{% endif %}>
                                                <div class="invalid-feedback">
                                                    Étant donné que vous avez choisi d'utiliser un pseudo, il faut le définir.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" type="submit">Sauvegarder les informations</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
{# Fin de la gestion de la page #}