{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{# Gestion de la page #}
{% block body %}
<div id="wrapper">
    {% include "includes/dashboard/sidebar.html.twig" %}
    <div class="d-flex flex-column {% if not userSettings.medieval[0] %}bg-{{ userSettings.theme }}{% else %}bg-none{% endif %}" id="content-wrapper">
        <div id="content">
            {% include "includes/dashboard/navbar.html.twig" %}
            <div class="container-fluid">
                <h3 class="text-{{ userSettings.color }} mb-4">Utilisateurs</h3>
                {% for message in app.flashes("user") %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Information :</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes("error") %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading">Une erreur est survenue</h4>
                        <p>{{ message }}</p>
                        <hr>
                        <p class="mb-0">Vérifiez les informations fournies puis réessayez.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="card shadow bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                    <div class="card-header py-3 bg-{{ userSettings.theme }} border-{{ userSettings.color }}">
                        <p class="text-{{ userSettings.color }} m-0 font-weight-bold">Liste des utilisateurs</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length text-{{ userSettings.color }}" aria-controls="dataTable">
                                    <form action="{{ path("users") }}" method="POST">
                                        <label>Affichage&nbsp;
                                            <select name="limit" class="form-control form-control-sm custom-select custom-select-sm bg-{{ userSettings.color }} text-{{ userSettings.theme }}" onchange="this.form.submit()">
                                                <option value="10" {% if limit == "10" %}selected{% endif %}>10</option>
                                                <option value="25" {% if limit == "25" %}selected{% endif %}>25</option>
                                                <option value="50" {% if limit == "50" %}selected{% endif %}>50</option>
                                                <option value="100" {% if limit == "100" %}selected{% endif %}>100</option>
                                            </select>&nbsp;
                                        </label>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <form method="POST" action="{{ path("users") }}">
                                        <label>
                                            <input type="search" name="SEARCH" id="searchBarUser" class="form-control form-control-sm bg-{{ userSettings.color }} text-{{ userSettings.theme }}" value="{{ app.request.request.get("SEARCH") }}" minlength="2" aria-controls="dataTable" placeholder="Rechercher ..." required oninput="document.getElementById('searchButton').style.display = 'inline'; searchOnUsers(this.value)">
                                        </label>
                                        <button id="searchButton" class="btn btn-primary btn-sm" style="display: none;" type="button" onclick="this.form.submit()">
                                            <i class="fas fa-search text-white"></i>
                                        </button>
                                        {% if app.request.request.get("SEARCH") is defined and app.request.request.get("SEARCH") != "" %}
                                            <a class="btn btn-danger btn-sm" type="submit" href="{{ path("users") }}">
                                                <i class="fas fa-eraser text-white"></i>
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-success btn-sm" type="button" href="">
                                            <i class="fas fa-user-plus text-white"></i>
                                        </a>
                                        <a class="btn btn-primary btn-sm" type="button" data-toggle="collapse" href="#filterOptions" aria-expanded="false" aria-controls="filterOptions">
                                            <i class="fas fa-filter text-white"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm" type="button" onclick="$('#modal-actionOnMany').modal();">
                                            <i class="fas fa-th text-white"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                            <div class="collapse bg-{{ userSettings.theme }} text-{{ userSettings.color }}" id="filterOptions" style="width: 100%;">
                                <div class="card card-body bg-{{ userSettings.theme }} text-{{ userSettings.color }}">
                                    <h5>Filtrage des données</h5>
                                </div>
                            </div>
                        </div>
                        <script>
                            let tableCount = 0;
                            let activeTab = 1;
                            let usersId = [];

                            function moveArray(id, move) {
                                if (move === '-' && id>=1) {
                                    if (id.toString() === "1") {
                                        document.getElementById("btnPreviousTab").removeAttribute("class");
                                        document.getElementById("btnPreviousTab").setAttribute("class", "page-item disabled");
                                    } else {
                                        document.getElementById("btnPreviousTab").removeAttribute("class");
                                        document.getElementById("btnPreviousTab").setAttribute("class", "page-item");
                                        document.getElementById("btnNextTab").removeAttribute("class");
                                        document.getElementById("btnNextTab").setAttribute("class", "page-item");
                                    }
                                    showTable(id);
                                } else if (move === '+' && id<=tableCount) {
                                    if (id.toString() === tableCount.toString()) {
                                        document.getElementById("btnNextTab").removeAttribute("class");
                                        document.getElementById("btnNextTab").setAttribute("class", "page-item disabled");
                                    } else {
                                        document.getElementById("btnPreviousTab").removeAttribute("class");
                                        document.getElementById("btnPreviousTab").setAttribute("class", "page-item");
                                        document.getElementById("btnNextTab").removeAttribute("class");
                                        document.getElementById("btnNextTab").setAttribute("class", "page-item");
                                    }
                                    showTable(id);
                                }
                                $('html').animate({scrollTop: 0}, "slow");
                            }

                            function showTable(id) {
                                for(let i=1; i<=tableCount; i++) {
                                    $('#dataTable-' + i).slideUp("slow");
                                    // document.getElementById("dataTable-" + i).style.display = "none";
                                    if (tableCount <= 10) {
                                        document.getElementById("btnTab-" + i).removeAttribute("class");
                                        document.getElementById("btnTab-" + i).setAttribute("class", "page-item");
                                    }
                                }
                                $('#dataTable-' + id).slideDown("slow");
                                // document.getElementById("dataTable-" + id).style.display = "block";
                                if (tableCount <= 10) {
                                    document.getElementById("btnTab-" + id).setAttribute("class", "page-item active");
                                }

                                if (id.toString() === "1") {
                                    document.getElementById("btnPreviousTab").removeAttribute("class");
                                    document.getElementById("btnPreviousTab").setAttribute("class", "page-item disabled");
                                } else if (id.toString() === tableCount.toString()) {
                                    document.getElementById("btnNextTab").removeAttribute("class");
                                    document.getElementById("btnNextTab").setAttribute("class", "page-item disabled");
                                } else {
                                    document.getElementById("btnPreviousTab").removeAttribute("class");
                                    document.getElementById("btnPreviousTab").setAttribute("class", "page-item");
                                    document.getElementById("btnNextTab").removeAttribute("class");
                                    document.getElementById("btnNextTab").setAttribute("class", "page-item");
                                }

                                activeTab = id;
                                $('html').animate({scrollTop: 0}, "slow");
                            }

                            function actionOnAll(state) {
                                if (state) {
                                    usersId.forEach(function(user) {
                                        $('#checkbox-' + user).prop("checked", true);
                                    })
                                } else {
                                    usersId.forEach(function(user) {
                                        $('#checkbox-' + user).prop("checked", false);
                                    })
                                }
                            }
                        </script>
                        <form action="{{ path("user_executeAction") }}" method="POST">
                        {% for key,table in data %}
                            <script>tableCount = parseInt("{{ key+1 }}")</script>
                            <div class="table-responsive table mt-2" id="dataTable-{{ key+1 }}" role="grid" aria-describedby="dataTable_info" style="display: {% if key == 0 %}block{% else %}none{% endif %}">
                                <table class="table my-0 text-{{ userSettings.color }}" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%; text-align: center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="all" id="checkbox-all" onchange="actionOnAll(this.checked)">
                                                    <label class="custom-control-label" for="checkbox-all"></label>
                                                </div>
                                            </th>
                                            <th style="width: 10%;">Identifiant</th>
                                            <th style="width: 15%;">Pseudo</th>
                                            <th style="width: 20%;">Prénom</th>
                                            <th style="width: 20%;">Nom</th>
                                            <th style="width: 30%; text-align: center;">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in table %}
                                        {% if user.id != app.user.id %}
                                            <script>usersId.push("{{ user.id }}")</script>
                                        {% endif %}
                                        <tr>
                                            <td style="width: 5%; text-align: center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="selected[][{{ user.id }}]" id="checkbox-{{ user.id }}" {% if user.id == app.user.id %}disabled{% endif %} onchange="$('#checkbox-all').prop('indeterminate', true)">
                                                    <label class="custom-control-label" for="checkbox-{{ user.id }}"></label>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">{{ user.username }}</td>
                                            <td style="width: 15%;">{{ user.pseudo }}</td>
                                            <td style="width: 20%;">{{ user.firstname|capitalize }}</td>
                                            <td style="width: 20%;">{{ user.lastname|upper }}</td>
                                            <td style="width: 30%; text-align: center;">
                                                <a class="btn btn-warning btn-sm" href="">
                                                    <i class="fas fa-user-edit text-white"></i>
                                                </a>
                                                <a class="btn btn-danger btn-sm" role="button" onclick="$('#modal-{{ user.id }}-delete').modal();">
                                                    <i class="fas fa-user-minus text-white"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="modal-{{ user.id }}-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content bg-{{ userSettings.theme }} text-{{ userSettings.color }}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Confirmation de suppression</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Êtes-vous sur de vouloir supprimé l'utilisateur nommé : "{{ user.firstname|capitalize }} {{ user.lastname|upper }}" ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <a type="button" class="btn btn-danger" href="{{ path("user_delete", {"id" : user.id|default(0)}) }}">Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                        <div class="modal fade" id="modal-actionOnMany" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-{{ userSettings.theme }} text-{{ userSettings.color }}">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Sélectionner une action</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="actionOnAllSelect">
                                                <strong>Action à effectuer</strong>
                                            </label>
                                            <select class="form-control" id="actionOnAllSelect" name="action" required>
                                                <option value="" disabled readonly="true" selected>-- Sélectionner une option</option>
                                                <option value="DELETE">Supprimer les utilisateurs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info text-{{ userSettings.color }}" role="status" aria-live="polite">
                                    Affichage de {{ count }} utilisateur{% if count > 1 %}s{% endif %}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled" id="btnPreviousTab" onclick="moveArray(activeTab-1, '-')">
                                            <a class="page-link" id="btnPreviousTab" role="button">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                        {% if data|length <= 10 %}
                                            {% for key,table in data %}
                                                <li class="page-item {% if key == 0 %}active{% endif %}" id="btnTab-{{ key+1 }}">
                                                    <a class="page-link" role="button" onclick="showTable('{{ key+1 }}')">{{ key+1 }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        <li class="page-item" id="btnNextTab" onclick="moveArray(activeTab+1, '+')">
                                            <a class="page-link">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright text-{{ userSettings.color }}">
                    <span>Copyright © CEFC Developers Team {{ date("Y")|date("Y") }}</span>
                </div>
            </div>
        </footer>
        {% endblock %}
{# Fin de la gestion de la page #}